<h1>Seja bem-vindo a CriptoWallet</h1>
<p>Sua carteira digital de criptomoedas. Centralize as suas moedas favoritas em um só lugar!</p>

<br/>
<p>Data de hoje: <strong><%= convert_date_to_brazilian_format(Date.today) %></strong></p>
<p>Ambiente atual: <strong><%= environment_br %></strong></p>
<p>Curso: <strong><%= @course %></strong></p>
<br/>

<h3>Barra de navegação:</h3>
<nav>
    <ul>
        <li>
            <%= link_to "Listar moedas", coins_path %>
        </li>
    </ul>
</nav>
