<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Bem-vindo a CriptoWallet!</h1>
    <p class="lead">Sua carteira digital de criptomoedas. Adicione as suas moedas favoritas em um só lugar!</p>
    <hr class="my-4">
    <p>Entre em uma das opções abaixo e comece a cadastrar.</p>
    <%= render "menu" %>
  </div>
</div>
