<h1>Seja bem-vindo a CriptoWallet</h1>
<p>Sua carteira digital de criptomoedas. Centralize as suas moedas favoritas em um sรณ lugar!</p>

<br/>
<p>Data de hoje: <strong><%= convert_date_to_brazilian_format(Date.today) %></strong></p>
<p>Ambiente atual: <strong><%= environment_br %></strong></p>
<p>Curso: <strong><%= @course %></strong></p>
<br/>

<%= render "menu" %>
