<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4"><%= t('hero.welcome') %></h1>
    <p class="lead"><%= t('hero.description') %></p>
    <hr class="my-4">
    <p><%= t('menu.message') %></p>
    <%= render "menu" %>
  </div>
</div>
