<h1>Seja bem-vindo a CriptoWallet</h1>
<p>Sua carteira digital de criptomoedas. Centralize as suas moedas favoritas em um sรณ lugar!</p>
<p>Data: <%= convert_date_to_brazilian_format(Date.today) %></p>
<p>Ambiente atual: <%= environment_br %></p>

<nav>
    <ul>
        <li>
            <%= link_to "Listar moedas", coins_path %>
        </li>
    </ul>
</nav>
